@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-image:url(../images/fundos/fundo-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section{
    display: block;
    margin: 30px auto;
    border: 2px solid;
    background-color: white;
    border-radius: 15px;
    width: 65%;
}

article{
    padding-top: 20px;
    width: 85%;
    display: block;
    margin: auto;
}

h1{
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 2em;
    text-align: center;
}

h2{
    display: block;
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
}

p{
    margin: 50px auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: 400;
    text-align: justify;
}

.navegar {
    display: flex;
    justify-content: center; /* centraliza os botões */
    gap: 20px; /* define o espaço entre eles */
}

.navegar a {
    text-decoration: none;
    color: white;
    font-family: "Exo 2";
    font-size: 1.5em;
    margin-bottom: 20px;
}

.navegar span{
    font-size: 1.5em;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}

ol{
    margin: 50px auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: 400;
    text-align: justify;
}
li{
    margin: 10px;
}

strong{
    font-weight: bolder;
}